<script src="https://kit.fontawesome.com/abc91cab4a.js" crossorigin="anonymous"></script>
<div class="container footer">
    <div class="footer-item">
        <div class="item-icon">
            <a href="/"><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="item-icon">
            <a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        <div class="item-icon">
            <a href="/new-post"><i class="fa-solid fa-circle-plus"></i></a>
        </div>
        <div class="item-icon">
            <a href="/profile?username=<%= userDetails.username %>"><i class="fa-solid fa-user"></i></a>
        </div>
    </div>
</div>