<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container login">
        <div class="container-item login">
            <div class="login-item">
                <h3 class="sm-header">SM_TYPE_SHII</h3>
            </div>
            <div class="login-item">
                <form action="/" method="post">
                    <input type="text" name="username" placeholder="Username or Email" id="">
                    <input type="password" name="password" placeholder="Password" id="">
                    <button type="submit" class="submit">Register</button>
                </form>
            </div>
            <div class="login-item">
                <h3 class="login-h4"><span>OR</span></h3>
            </div>
            <div class="login-item">
                <a href="/" class="f-auth">Login with Facebook</a>
            </div>
            <div class="login-item">
                <p>Dont have an account ? <a href="/register">Signup</a></p>
            </div>


            
            
        </div>
    </div>
    
</body>
</html>