<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="container-post">
            <div class="post-card">
                <div class="post-body">
                    <div class="post-item post-file">
                        <form action="/post" method="post" enctype="multipart/form-data"></form>
                        <input type="file" name="post" id="">
                    </div>
                    <div class="post-item post-comment">
                        <textarea name="caption" id="" cols="18" rows="6"></textarea>
                        </form>
                    </div>
                </div>
                <div class="post-footer">
                    <button type="submit">POST</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>